# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to normalize line endings
*.dart text
*.py text
*.md text
*.yaml text
*.yml text
*.json text
*.sql text
*.sh text eol=lf
*.bat text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.gz binary
*.tar binary
