{
  "EventCheckerFunction": {
    "EVENTS_TABLE_NAME": "connpass-events",
    "CONNPASS_USER_ID": "your-connpass-username",
    "NOTIFICATION_EMAIL": "your-email@example.com",
    "SENDER_EMAIL": "verified-sender@example.com"
  },
  "EmailNotifierFunction": {
    "EVENTS_TABLE_NAME": "connpass-events",
    "SENDER_EMAIL": "verified-sender@example.com",
    "NOTIFICATION_EMAIL": "your-email@example.com",
    "NOTIFICATION_HOURS_BEFORE": "24",
    "CONNPASS_USER_ID": "your-connpass-username"
  }
}
